<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="KidsMedia">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href={~p"/favicon.ico"} />
    <link rel="icon" type="image/svg+xml" href={~p"/favicon.svg"} />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="msapplication-TileImage" content={~p"/favicon.ico"} />
    <meta name="theme-color" content="#FFE066" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-black m-0 p-0 overflow-hidden">
    {@inner_content}
  </body>
</html>
